{{#each page_data}}
    <div id = "weather-box{{@index}}" style = "margin: 1em auto;" class = "cool-box{{@index}} glowing{{@index}} h-20 w-24 mt-2 rounded-lg">
        <div class = "drop-shadow-md h-20 w-24 rounded-lg bg-gradient-to-b from-sky-600 from-0% to-sky-400 to-25%">
            <p class = "ml-2 text-sm pt-1">{{this.town}}</p>
            <p class = "ml-2 text-base">{{this.temperature}}℃</p>
            <img src="./img/{{{this.icon}}}.jpeg" class = "ml-1 rounded-md border border-slate-500">
        </div>
    </div>
{{/each}}